@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Rubik", sans-serif;
}
:root {
  --font-color-main: #332464;
  --white-color: #fff;
}
body {
  background-color: #e0eefa;
}
.pc {
  width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--font-color-main);
  border-radius: 40px;
}
nav {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  border: 2px solid var(--white-color);
  border-radius: 40px;
  background-color: var(--font-color-main);
}
nav ul {
  display: flex;
  gap: 2pc;
}
nav ul li a {
  color: var(--white-color);
  font-size: 18px;
}
.active {
  background-color: var(--white-color);
  color: var(--font-color-main);
  border-radius: 100px;
  padding: 8px 15px;
}
/* main section */
.section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.date {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  padding: 30px 0;
  color: var(--font-color-main);
}
.button{
  font-size: 20px;
  color: var(--font-color-main);
}
/* section-box */
.section-box{
  width: auto;
  height: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: center;
}
.add-section{
  min-width: 280px;
  height: 250px;
  top: -60rem;
  border-radius: 40px;
  border: 1px solid var(--white-color);
  position: absolute;
  transition: .4s ease-in;
  background-color: var(--font-color-main);
}
.add-section-title{
  text-align: center;
  color: var(--white-color);
  padding-top: 40px;
}
.search {
  margin-top: 20px;
  width: 80%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 2px var(--font-color-main);
  background-color: var(--white-color);
}
.search-icon {
  width: 15px;
  height: 50px;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.search-icon i {
  font-size: 18px;
  color: var(--font-color-main);
}
.search input {
  width: 80%;
  padding: 8px;
  font-size: 15px;
  color: var(--font-color-main);
  border: none;
  outline: none;
}
.search input::placeholder {
  color: var(--font-color-main);
}
.messages{
  color: var(--white-color);
  font-size: 15px;
  text-align: center;
  padding: 30px 0;
  font-weight: 500;
  margin-top: 10px;
}
.normal-message{
  display: block;
}
.error-message{
  display: none;
}
.added-message{
  display: none;
}
.box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 30px;
  align-items: center;
  margin-bottom: 40px;
}
.weather-box {
  height: 180px;
  min-width: 280px;
  border-radius: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--font-color-main);
}
.name {
  padding-left: 40px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--white-color);
  height: auto;
}
.city-name {
  font-size: 20px;
}
.weather-temp {
  font-size: 60px;
}
.weather-icon {
  padding: 0 20px;
  width: 220px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-icon img {
  width: 100%;
}
@media (max-width: 400px) {
  .pc {
    border: none;
    border-radius: none;
    width: auto;
    height: auto;
  }
}
